body {
  text-align: center;
}

h1 {
  color: #cc181e;
  font-size: 400%;
}

#adjust-height {
  font-size: 80%;
}

.container-fluid {
  margin-top: 2%;
  width: 65%;
  margin-left: 18%;
}


#narrower {
  width: 45%;
  margin-left: 27%;
}

.message {
  color: #cc181e;
  position: absolute;
  text-align: center;
  margin-top: 2%;
  width: 100%;
}
